*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
   background-image:linear-gradient(rgb(15, 15, 15),rgba(255, 255, 0, 0.843));
   height: 100vh;
   width: 100%;  
   display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(112, 10, 10);
    position: absolute;
    clip-path:circle(40% at right 70%);
    z-index: -1;

}

.container{
    background: rgba(255,255,255, 0.1);
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0px;

}
nav .logo{
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 2px;
   font-size: 30px;
   text-decoration: none;
   font-weight: 600;

}
 nav ul li{
    display:inline-block;
    margin: 0 6px;

 }
 nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
 }
 nav ul li a:hover{
    color: chocolate;
    border-bottom: solid red 2px;
 }
 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: hidden;
 }
 .content .text{
    color:aliceblue;
    width: 40%;
 }
 .content .text h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 5px;
  font-size: 30px;
  font-weight: 700;
 }
 .content .text p{
    letter-spacing: 1px;
    margin: 10px;
    line-height: 25px;
    font-size: 18px;

 }
 .content .imeges{
    width: 40px;
 }
 .content .image img{
    width: 400px;
 }
 @media (min-width:950px) and (max-width:1150px){
    .content .image img{
        width: 330px;
    }
 }
 @media (max-width:949px){
   .content, nav{
    flex-direction: column;
    justify-content: center;
   }
   .content .image, .content .text{
    width: 100%;
   }
   body::after{
    clip-path: circle(50% at bottom);
   }
 }
